.container {
  margin-top: 10vh;
}

h1 {
  color: white;
}

.sub-header {
  color: white;
  padding-bottom: 12px;
}

.input-group {
  display: flex;
  flex-direction: row;
}

button {
  justify-content: center;
}

.update-todo-btn {
  margin-right: 4px;
}

table {
  border-radius: 4px;
}

.todo-name {
  padding-left: 10px;
}